{{!< layout}}
<div class="aui-message error" ng-class="{hidden: !error.title}" ng-cloak>
  <p class="title">
    <span class="aui-icon icon-error"></span>
    <strong>[[error.title]]</strong>
  </p>
  <p>[[error.msg]]</p>
</div><!-- .aui-message -->

<div class="aui-group intro-header">
  <div class="aui-item">
    <h1>Script Configuration</h1>
  </div>
</div>
<table class="aui" ng-cloak>
  <tbody ng-repeat="script in scripts | orderBy:'name'">
    <tr ng-class="{enabled: script.enabled, disabled: !script.enabled}">
      <td width="20">
        <div class="checkbox">
          <input type="checkbox" class="checkbox" name="script-enabled-[[script.name]]" ng-model="script.enabled" ng-checked="script.enabled" ng-change="updateScript(script)" ng-disabled="script.required||script.varsRequired">
        </div>
      </td>
      <td class="script-name"><strong>[[script.name]]</strong></td>
      <td class="script-help">[[script.help]]</td>
      <td class="right toolcol">
        <button class="aui-button aui-button-subtle" ng-click="toggleConfig($event)" ng-show="Object.keys(script.varspec).length > 0">
          <span class="aui-icon aui-icon-small aui-iconfont-configure">Configure</span>
        </button>
      </td>
    </tr>
    <tr class="script-config hidden" id="script-config-[[$index]]">
      <td colspan="4">
        <form class="aui" width="100%">
            <div class="field-group" ng-repeat="(key, spec) in script.varspec">
              <label for="field-[[$index]]">[[spec.name]]</label>
              <input class="text long-field" type="text" name="" value="field-[[$index]]" placeholder="[[spec.value]]" ng-model="script.variables[key]" ng-change="updateVars(script)">
            </div>
            <div class="field-group">
              <button class="aui-button aui-button-compact" ng-click="saveScript(script)">
                <span class="aui-icon aui-icon-small aui-iconfont-success"></span>
                <span>Save</span>
              </button>
            </div>
        </form>
      </td>
    </tr>
  </tbody>
  <tbody ng-class="{hidden: scripts.length > 0}" ng-cloak>
    <tr>
      <td class="centered" colspan="3">
        There are no available scripts
      </td>
    </tr>
  </tbody>
</table>
