{{!< layout-public}}

<header id="header" role="banner">
  <nav class="aui-header aui-dropdown2-trigger-group" role="navigation">
    <div class="aui-header-primary">
      <h1 class="aui-header-logo"><a href="{{localBaseUrl}}">{{title}}</a></h1>
    </div>
  </nav>
</header>

<section id="content" role="main">
  <div class="aui-page-panel">
    <div class="aui-page-panel-inner">
      <section class="aui-page-panel-content">
        <pre>
          {{{help}}}
        </pre>
      </section>
    </div>
  </div>
</section>

<footer id="footer" role="contentinfo">
  <section class="footer-body">
    <ul>
      <li>Copyright &copy; 2014 <a href="http://www.atlassian.com" target="_blank">Atlassian</a></li>
      <li><a href="https://bitbucket.org/hipchat/chatty/raw/master/LICENSE.txt">Apache License v2.0</a></li>
      <li>Chatty {{version}}</li>
    </ul>
  </section>
</footer>
